/*
 * Project: Chat Widget
 */
/* ==========================================================================
   GENERAL BLOCKS
   ========================================================================== */
.pseudo {
  display: block;
  content: '\0020';
  overflow: hidden;
}
.clearfix {
  display: table;
  content: '\0020';
  clear: both;
}
.wchat-container {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9999;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wchat-container * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.wchat-container *:focus {
  outline: -webkit-focus-ring-color auto 0;
}
.wchat-container.wchat-container-top-left {
  right: auto;
  bottom: auto;
  top: 0;
  left: 0;
}
.wchat-container.wchat-container-top-right {
  bottom: auto;
  top: 0;
}
.wchat-container.wchat-container-bottom-left {
  left: 0;
  right: auto;
}
.wchat-hidden {
  display: none;
}
/* ==========================================================================
   WINDOW
   ========================================================================== */
.wchat-window {
  width: 370px;
  border-radius: 3px;
  margin-right: 30px;
  position: relative;
  overflow: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.wchat-container-top-left .wchat-window,
.wchat-container-bottom-left .wchat-window {
  margin-right: 0;
  margin-left: 30px;
}
/* ==========================================================================
   HEADER
   ========================================================================== */
.wchat-header {
  height: 76px;
  position: relative;
  background: #f2f2f2;
}
.wchat-header .wchat-heading {
  padding: 17px 20px 13px;
  border-radius: 3px 3px 0 0;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  z-index: 5;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .01em;
  white-space: nowrap;
  color: #fff;
  background: #2683d3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.wchat-header .wchat-heading:after {
  display: block;
  content: '\0020';
  overflow: hidden;
}
.wchat-header .wchat-avatar {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 10;
}
.wchat-header .wchat-avatar + .wchat-heading {
  padding-left: 92px;
}
.wchat-header .wchat-avatar img {
  width: 64px;
  height: 64px;
  border: 3px solid #fff;
  display: block;
}
.wchat-header .wchat-minimize {
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  top: 6px;
  right: 40px;
  z-index: 20;
  text-decoration: none;
}
.wchat-header .wchat-minimize:before {
  display: block;
  content: '\0020';
  width: 20px;
  height: 2px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 9px;
  left: 0;
  background: #fff;
}
.wchat-header .wchat-close {
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 20;
  text-decoration: none;
}
.wchat-header .wchat-close:before,
.wchat-header .wchat-close:after {
  display: block;
  content: '\0020';
  width: 24px;
  height: 2px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
}
.wchat-header .wchat-close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.wchat-header .wchat-close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/* ==========================================================================
   FOOTER
   ========================================================================== */
.wchat-footer {
  height: 30px;
  padding: 6px 15px;
  position: relative;
  overflow: hidden;
  font: bold 12px/18px 'Calibri', Helvetica, Arial, sans-serif;
  color: #939393;
  white-space: nowrap;
  background: #f2f2f2;
}
.wchat-footer a {
  border: none;
  display: inline;
  color: #2683d3;
  text-decoration: none;
  -webkit-transition: none;
  transition: none;
}
.wchat-footer a:hover, .wchat-footer a:focus {
  border: none;
  display: inline;
  color: #2683d3;
  text-decoration: underline;
}
/* ==========================================================================
   CONTENT
   ========================================================================== */
.wchat-content {
  padding: 33px 40px;
  position: relative;
}
.wchat-content:after {
  display: table;
  content: '\0020';
  clear: both;
}
/* ==========================================================================
   FORM-LOGIN
   ========================================================================== */
.wchat-form-login {
  width: 100%;
  display: block;
  position: relative;
}
.wchat-form-login .wchat-form-line:last-child {
  margin-bottom: 0;
}
.wchat-form-login .wchat-form-line {
  width: 100%;
  padding: 0;
  margin: 0 0 10px;
  float: none;
  display: block;
  font: bold 13px/14px 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -0.025em;
  color: #939393;
}
.wchat-form-login .wchat-form-line:after {
  display: table;
  content: '\0020';
  clear: both;
}
.wchat-form-login .wchat-form-label {
  width: 100%;
  padding: 2px 0 3px;
  margin: 0;
  display: block;
  font: inherit;
  color: inherit;
}
.wchat-form-login .wchat-form-text {
  width: 100%;
  padding: 9px 6px;
  border: 1px solid #696969;
  border-radius: 3px;
  margin: 0;
  float: none;
  display: block;
  font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #696969;
}
.wchat-form-login .wchat-form-submit {
  width: 100%;
  height: 45px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-top: 38px;
  display: block;
  font-size: 28px;
  font-weight: bold;
  line-height: 35px;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: center;
  background: #70cf5f;
  -webkit-transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: inset 0 -4px 0 0 #61c351;
}
.wchat-form-login .wchat-form-submit:hover, .wchat-form-login .wchat-form-submit:focus {
  color: #fff;
  text-decoration: none;
  background: #61c351;
}
/* ==========================================================================
   CHAT-BOX
   ========================================================================== */
.wchat-box {
  margin: -33px -40px;
}
.wchat-box:after {
  display: table;
  content: '\0020';
  clear: both;
}
.wchat-box .wchat-messages {
  height: 260px;
  overflow: hidden;
  overflow-y: scroll;
  font: 500 18px/18px 'Calibri', Helvetica, Arial, sans-serif;
  color: #515151;
}
.wchat-box .wchat-messages .wchat-line {
  padding: 8px 24px 8px 14px;
  letter-spacing: -0.053em;
}
.wchat-box .wchat-messages .wchat-line.wchat-line-question {
  padding-left: 50px;
  color: #077cff;
  text-align: right;
}
.wchat-box .wchat-form-message {
  margin: 0;
  border-top: 1px solid #c9c9c9;
}
.wchat-box .wchat-form-message textarea {
  width: 100%;
  height: 70px;
  padding: 10px;
  display: block;
  border: none;
  resize: none;
  font: 500 17px/18px 'Calibri', Helvetica, Arial, sans-serif;
  color: #515151;
}
/* ==========================================================================
   WCHAT-START
   ========================================================================== */
.wchat-start {
  width: 275px;
  margin: 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.wchat-start:after,
.wchat-start .wchat-link:after {
  display: table;
  content: '\0020';
  clear: both;
}
.wchat-start .wchat-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #696969;
  text-decoration: none;
  -webkit-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wchat-start .wchat-link:hover, .wchat-start .wchat-link:focus {
  color: #fff;
}
.wchat-start .wchat-link:hover .wchat-text, .wchat-start .wchat-link:focus .wchat-text {
  background: #2683d3;
}
.wchat-start .wchat-link:hover .wchat-text:after, .wchat-start .wchat-link:focus .wchat-text:after {
  border-color: transparent transparent transparent #2683d3;
}
.wchat-start .wchat-link:hover .wchat-title, .wchat-start .wchat-link:focus .wchat-title {
  color: #fff;
}
.wchat-start .wchat-photo {
  min-width: 68px;
  max-width: 68px;
  height: 64px;
  overflow: hidden;
  -ms-flex-preferred-size: 68px;
      flex-basis: 68px;
  border-radius: 10px;
  border: 3px solid #2683d3;
  -webkit-box-ordinal-group: 21;
      -ms-flex-order: 20;
          order: 20;
  text-align: center;
  position: relative;
}
.wchat-start .wchat-photo img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.wchat-start .wchat-photo .wchat-activity {
  color: #009e1d;
  background: #fff;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.wchat-start .wchat-photo .wchat-activity:before {
  display: block;
  content: '\0020';
  overflow: hidden;
  width: 7px;
  height: 7px;
  margin: 0 4px 0 -4px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background: #009e1d;
}
.wchat-start .wchat-text {
  margin-right: 15px;
  padding: 4px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
  border: 3px solid #2683d3;
  -ms-flex-line-pack: center;
      align-content: center;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 12px;
  -webkit-transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
}
.wchat-start .wchat-text:before,
.wchat-start .wchat-text:after {
  display: block;
  content: '\0020';
  overflow: hidden;
  margin: auto 0;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wchat-start .wchat-text:before {
  margin-left: 2px;
  border-width: 10px 0 10px 12px;
  border-color: transparent transparent transparent #2683d3;
}
.wchat-start .wchat-text:after {
  border-width: 8px 0 8px 10px;
  border-color: transparent transparent transparent #fff;
}
.wchat-start .wchat-title {
  color: #2683d3;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  -webkit-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* ==========================================================================
   WCHAT-CLOSE
   ========================================================================== */
.wchat-popup-close {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.wchat-popup-close .wchat-buttons {
  margin-top: 44px;
}
.wchat-popup-close .wchat-buttons .wchat-button {
  min-width: 128px;
  margin: 0 9px;
  display: inline-block;
  padding: 6px 10px;
  border-bottom: 3px solid #939393;
  background: #a0a0a0;
  box-shadow: 0 2px 0 0 rgba(144, 144, 144, 0.2);
  border-radius: 2px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font: bold 16px/20px 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -0.02em;
  -webkit-transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wchat-popup-close .wchat-buttons .wchat-button:hover, .wchat-popup-close .wchat-buttons .wchat-button:focus {
  background: #939393;
}
.wchat-popup-close .wchat-buttons .wchat-button.wchat-button-red {
  background: #e36959;
  border-bottom-color: #d45e4e;
}
.wchat-popup-close .wchat-buttons .wchat-button.wchat-button-red:hover, .wchat-popup-close .wchat-buttons .wchat-button.wchat-button-red:focus {
  background: #d45e4e;
}
/* ==========================================================================
   RESPONSIVE
   ========================================================================== */

/*# sourceMappingURL=maps/chat-widget.css.map */