/* ==========================================================================
   GENERAL BLOCKS
   ========================================================================== */
.wchat-container {
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 9999;
}
.wchat-window {
    background: @color-white;
}
